.slidingImage{
	display: flex;
	justify-content: center;
	align-items: center;
}


.slider{
    position: relative;
    width: 700px;
    height: 150px;
    border-radius: 5px;
    overflow: hidden;
    background: #000;
}
.slides{
    position: relative;
    width: 100%;
    height: 100%;
}
.slide{
    position: absolute;
    inset: 0;
}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* Crossfade setup */
.slide{
    opacity: 0;
    animation: fade 10s infinite; /* total cycle time per slide */
}
.slide:nth-child(1){ animation-delay: 0s; }
.slide:nth-child(2){ animation-delay: 2s; }
.slide:nth-child(3){ animation-delay: 4s; }
.slide:nth-child(4){ animation-delay: 6s; }
.slide:nth-child(5){ animation-delay: 8s; }

/* Keyframes: 0-20% fade in, 20-40% visible, 40-60% fade out, rest invisible */
@keyframes fade{
    0%   { opacity: 0; }
    10%  { opacity: 1; }
    30%  { opacity: 1; }
    40%  { opacity: 0; }
    100% { opacity: 0; }
}


#radio1:checked ~ .first { margin-left: 0; }
#radio2:checked ~ .first { margin-left: -10%; }
#radio3:checked ~ .first { margin-left: -20%; }
#radio4:checked ~ .first { margin-left: -30%; }
#radio5:checked ~ .first { margin-left: -40%; }

/*css for automatic navigation*/
.navigation-auto{
	position: absolute;
	width: 300px;
	margin-top: 130px;
	display: flex;
	justify-content: center;
}

.navigation-auto div{
	border: 1.5px solid #F9FAFB;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
	/*visibility: hidden;*/
}

.navigation-auto div:not(:last-child){
	margin-right: 20px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
	background: #0967F9
}

#radio2:checked ~ .navigation-auto .auto-btn2{
	background: #0967F9
}

#radio3:checked ~ .navigation-auto .auto-btn3{
	background: #0967F9
}

#radio4:checked ~ .navigation-auto .auto-btn4{
	background: #0967F9
}

#radio5:checked ~ .navigation-auto .auto-btn5{
	background: #0967F9
}

